*{

    padding: 0;
    margin: 0;
    font-family: sans-serif;
  
    }
    body{
   
        display: flex;
    background-color: rgb(228, 228, 247)
    
    }
    
    ul{
        position: relative;
        height: 95%;
    }
    
    
   
    .menu{
        background-color: #162938;
        width: 40px;
        height: 99vh;
        padding: 20px;
        overflow: hidden;
       transition: .5s;
    }
    ul li a{
        color: #fff;
        display: block;
        text-decoration: none;
        padding: 12px;
        margin: 10px 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 30px;
        transition: .5s;
    }
    ul li a:hover{
        background-color: #ffffff55;
    }
    .log-out{
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }
    .log-out a:hover{
        background-color: #a00;
    }
    ul li a i{
    font-size: 25px;
    color: #fff;
    
    }
   
    
   
    .menu:hover{
    width: 260px;
    }
    
  
    
      
      
            
         
  
            header{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                padding: 20px 100px;
                display: flex;
                background: #162938;
                justify-content: space-between;
                align-items: center;
                z-index: 99;
            }
  
        
  
  
  
  
  /* SECTIONS */
  
  
  
  
   .pro {
    font-size: 90px;
    margin-right:35%; 
  
  }
  
  section {
    background: #ffffff;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 10);
  padding: 70px;
  border-radius: 40px;
    padding-top: 4vh;
    height: 86vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }
  
  
      .Edit {
        background: #ffffff;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 10);
    padding: 20px;
    width: 90%;
    border-radius: 40px;
        padding-top: 4vh;
    }
              
              
            