
*{
    padding: 0;
    margin: 0;
    color:white;
    font-family: sans-serif;
    }
    body{
    
        background-color: rgb(228, 228, 247);
        display: flex;
    
    }
    
    ul{
    
        position: relative;
        height: 95%;
    }
    
    .img-place{
        width: 50px;
        height: 70px;
        flex-shrink: 0;
    
    }
    .img-place img{
        width: 100%;
        size: 90px;
        height: 50px;
        
    }
    
    .menu{
        
        background-color: #123;
        width: 40px;
        height: 290vh;
        padding: 20px;
        overflow: hidden;
       transition: .5s;
    }
    ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
        margin: 10px 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 30px;
        transition: .5s;
    }
    ul li a:hover{
        background-color: #ffffff55;
    }
    .log-out{
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }
    .log-out a:hover{
        background-color: #a00;
    }
    ul li a i{
    font-size: 25px;
    
    }
    .profile{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    .profile h3{
    
        font-size: medium;
        text-transform: capitalize;
    }
    .menu:hover{
    width: 260px;
    }
     .title-info img{
        font-size: small;
     }

     header{
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 1px;
        padding: 30px 187.9px;
        display: flex;
        background: #123;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }
        

/*requests List serction  */

.requests{
  margin-top: 100px;
  text-transform: capitalize;
}
.requests-list{
  width: 130%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 60px;
  background: #7f5cb8;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.requests-list h1{
  font-size: 180%;
  margin-right: 30px;
  text-shadow: 0px 10px 10px rgba(255,255,255,0.5);
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.table thead tr{
  color: #fff;
  background: #4f146e ;
  text-align: center;
  font-weight: bold;
  
}
.table th,.table td{
  padding: 15px 17px;
  text-align: center;
}

.separator  {
    border-right: 1px solid #ddd;
  }

.table tbody tr{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even){
  background:#c89df3 ;
 
}

.table tbody tr:last-of-type{
  border-bottom: 2px solid #7f5cb8;
}
.table tr:hover td{
background-color: #ffffff55;
color: #000;
}

.custom-button {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #393838;
}


.custom-button:hover {
  background-color: #4545ff;
  color: #ffffff;
  transition: 0.5rem;
}

.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #393838;
}
.accept:hover{
  background: #14b63a;
  color: #ffffff;
  transition: 0.5rem;
}

.reject:hover{
  background: #f32929;
  color: #ffffff;
  transition: 0.5rem;
}
